<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Equestricrud - Edit Horse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Edit Horse</h1>
    <form th:action="@{/horse/{id}(id=${horse.id})}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="${horse.id}">
        Name: <input type="text" th:field="${horse.name}" /><br />
        Age: <input type="text" th:field="${horse.age}" /><br />
        Gender: <input type="text" th:field="${horse.genderName}" /><br />
        Equibase Link: <input type="text" th:field="${horse.equibaselink}" /><br />
        Owner: <input type="text" th:field="${horse.owner}" /><br />
        Trainer: <input type="text" th:field="${horse.trainer}" /><br />
        Jockey: <input type="text" th:field="${horse.jockey}" /><br />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>